<%= form_for(@emotum) do |f| %>
  <% if @emotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emotum.errors.count, "error") %> prohibited this emotum from being saved:</h2>

      <ul>
      <% @emotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
